name: aio_p51_house_price
channels:
  - conda-forge
dependencies:
  - python=3.12
  - pip
  - typer
  - loguru
  - tqdm
  - ipython
  - jupyterlab
  - matplotlib
  - seaborn
  - notebook
  - numpy
  - pandas
  - scikit-learn
  - black
  - flake8
  - isort
  - gdown
  - pip:
    - python-dotenv
    - -e .